services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    working_dir: /app
    volumes:
      - ./:/app
    stdin_open: true
    tty: true
    command: bash

  jupyter:
    build:
      context: .
      dockerfile: docker/Dockerfile
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8888:8888"
    command: >
      jupyter lab
      --ip=0.0.0.0
      --port=8888
      --no-browser
      --ServerApp.token=
      --ServerApp.password=
      --ServerApp.allow_origin=*
      --ServerApp.allow_remote_access=true
