name: ci

on:
  pull_request:
  push:
    branches: ["main", "master"]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # KROK 1: Build Dockera (compose)
      - name: Build Docker image(s)
        run: docker compose build

      # KROK 2: Testy
      - name: Run tests (pytest)
        run: docker compose run --rm app pytest
